body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 25px;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #575757;
}

.content {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
